@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Noto Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Lobster");
header {
  color: white !important;
  height: 12rem;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(0, 0, 0, 0.950018)), color-stop(53%, #ba0000), color-stop(86%, rgba(0, 0, 0, 0.944415)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.950018) 14%, #ba0000 53%, rgba(0, 0, 0, 0.944415) 86%);
}

header .container {
  margin-top: 0% !important;
}

header .container .row #time {
  font-size: 11vw;
  font-weight: bold;
  font-family: Bahnschrift;
  text-align: center;
}

header .container .row .dates {
  margin-top: 2rem;
  text-align: center;
}

body {
  position: relative;
  background: url(../images/Sunset_mosque.jpg) !important;
  background-position: center center fixed;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

#sec-11e4 {
  height: 100%;
}

#sec-11e4 .nav {
  margin-top: 0.5rem !important;
  height: 100%;
  text-align: center;
  word-spacing: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
  border: 0.12em solid rgba(245, 245, 245, 0.493);
  background-color: rgba(0, 0, 0, 0.602);
  border-radius: 0.8rem;
}

#sec-11e4 .nav .area {
  font-size: 0.9rem;
  padding-right: 1rem;
}

#sec-11e4 .nav .area a {
  color: azure;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
  vertical-align: middle;
}

#sec-11e4 .nav .area i {
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  vertical-align: middle;
  color: aliceblue;
  font-size: 1rem;
}

#sec-11e4 .nav .area select {
  width: 9vw;
  margin-top: 5px;
  background-color: rgba(8, 7, 7, 0.651);
  color: white;
  border-radius: 1rem;
  font-size: 1vw;
}

#sec-11e4 .nav .autoplay {
  color: white;
  display: inline;
}

#sec-11e4 .nav .autoplay i {
  font-size: 1.5rem;
  margin-top: 3px;
}

#sec-11e4 .nav .autoplay .subtitle {
  display: inline;
  word-spacing: 2px;
}

#sec-11e4 .table_div {
  margin-top: 0.4rem;
  height: 100%;
  color: white;
}

#sec-11e4 .table_div .table {
  background-color: rgba(0, 0, 0, 0.822);
  text-align: center;
  color: #ffee00;
}

#sec-11e4 .table_div .table thead {
  background-color: #970808;
}

#sec-11e4 .table_div .table th {
  text-align: center;
  font-size: 1.6rem;
}

#sec-11e4 .table_div .table tbody {
  font-size: 1.6rem;
  font-family: "Noto Sans";
  font-weight: bold;
  letter-spacing: 0.3rem;
}

#sec-11e4 .other {
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
}

#sec-11e4 .other ul {
  text-align: center;
  margin-top: 1.5rem;
  list-style-type: none;
  font-size: 1.5vw;
  font-family: Merriweather;
  color: #2ed70d;
}

#sec-11e4 .other ul li {
  background-color: rgba(22, 17, 17, 0.726);
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#sec-11e4 .other ul a {
  color: #2ed70d;
}

#sec-11e4 .location_div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: black;
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
  text-align: center;
  height: 3rem;
  border: 1px solid;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#sec-11e4 .location_div h4 {
  padding: 0 2rem 1rem 2rem;
  font-size: 1.5rem;
  color: white;
}

footer {
  vertical-align: bottom;
  position: relative;
  bottom: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  background: #ba0000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #ba0000), color-stop(28%, #340101), color-stop(69%, black));
  background: linear-gradient(180deg, #ba0000 3%, #340101 28%, black 69%);
}

footer .text {
  width: 95%;
  font-family: Merriweather;
}

footer .text marquee {
  font-size: 3vw;
}

/*
PEN BY: @AliRanjbar
Site: www.aliranjbar.ir
pen lang: html, css, js(jquery)
*/
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f0110a;
  z-index: 99;
}

.loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid #f2f2f2;
  border-top: 6px dotted #f2f2f2;
  border-bottom: 6px dotted #f2f2f2;
  border-radius: 50%;
  -webkit-animation: loading 2s infinite;
          animation: loading 2s infinite;
}

.loading:before {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  content: "Loading...";
  position: absolute;
  top: 57%;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#AliRanjbar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 13px;
  color: #444;
  font-family: 'Acme', sans-serif;
  z-index: 99;
}

@media (min-width: 1500px) {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(../images/Sunset_mosque.jpg) !important;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100% !important;
  }
  header .container {
    margin: 0% !important;
    width: 100% !important;
  }
  header #time {
    font-weight: 7vw !important;
  }
  header .dates h4 {
    font-size: 2vw;
  }
  header .dates h5 {
    font-size: 1.5vw;
  }
  #sec-11e4 {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  #sec-11e4 .nav .area a {
    font-size: 1.5vw;
  }
  #sec-11e4 .nav .area i {
    font-size: 1vw;
  }
  #sec-11e4 .nav .area #select {
    font-size: 1.4vw !important;
    width: 12vw;
  }
  #sec-11e4 .nav .autoplay i {
    font-size: 1.5vw;
  }
  #sec-11e4 .nav .autoplay #autoplayText {
    font-size: 1.2vw;
  }
  #sec-11e4 .other ul {
    margin-top: calc(1vh + 1vw) !important;
    line-height: 3vw;
  }
  #sec-11e4 .container {
    width: 100% !important;
  }
  #sec-11e4 .row {
    width: 100% !important;
  }
  #sec-11e4 .row #compassDiv h5 {
    font-size: 1.5vw !important;
  }
  #sec-11e4 .table {
    width: 100%;
  }
  #sec-11e4 .table th {
    font-size: 2vw !important;
  }
  #sec-11e4 .table td {
    font-size: 2.3vw !important;
    padding-left: 1vw !important;
  }
  #sec-11e4 .location_div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: calc(1vh + 1vw);
  }
  #sec-11e4 .location_div h4 {
    font-size: 2vw !important;
  }
  footer {
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 996px) {
  select {
    font-size: 1rem !important;
    width: 9rem !important;
  }
  .other ul {
    font-size: 1.2rem !important;
  }
  .location_div {
    margin-top: 1rem !important;
  }
  footer {
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 575px) {
  #sec-11e4 select {
    font-size: 1rem !important;
    width: 9rem !important;
  }
  #sec-11e4 .other ul {
    font-size: 1rem !important;
  }
  #sec-11e4 .table td {
    font-size: 1.2rem;
  }
  #sec-11e4 .table th {
    font-size: 1.3rem !important;
  }
  #sec-11e4 .location_div {
    margin-top: 1rem;
  }
  footer {
    position: relative;
  }
}
/*# sourceMappingURL=custome.css.map */