@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

header{
    color: rgb(255, 255, 255) !important;
    height: 12rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9500175070028011) 14%, rgba(186,0,0,1) 53%, rgba(0,0,0,0.9444152661064426) 86%);
   .container{
       margin-top: 0% !important;
       .row{
           #time{
               font-size: 10.5vw;
               font-weight: bold;
               font-family: Bahnschrift;
               text-align: center;
           }
           .dates{
               margin-top: 2rem;
               text-align: center;
           }
       }
   }
}
body{
    position: relative;
    background: url(../images/Sunset_mosque.jpg) !important;
   
    background-position: center center fixed;
    background-size: cover;
    
   height: 100%;
   max-width: 100%;
   overflow-x: hidden;
   box-sizing: border-box;
   object-fit: cover;
   
  
 
    
}
#sec-11e4{
    
    
    height: 100%;
   
    

    .nav{
        margin-top: 0.5rem !important;
        height: 100%;
        text-align: center;
        word-spacing: 1rem;
        width: fit-content;
        padding-bottom: 0.5rem;
       
        @include center;
        border: 0.12em solid rgba(245, 245, 245, 0.493) ;
        background-color: rgba(0, 0, 0, 0.602);
        border-radius: 0.8rem;
        .area{
           font-size:1.2rem;
           padding-right: 1rem;
           a{
               color: azure;
               cursor: pointer;
               padding: 0 1rem 0 1rem;
               vertical-align: middle;
           }
           i{
            padding: 0 1rem 0 1rem;
            cursor: pointer;
            vertical-align: middle;
            color: aliceblue;
            font-size: 1.5rem;
           }
           select{
               width: 11vw;
               margin-top: 5px;
               background-color: rgba(8, 7, 7, 0.651);
               color: white;
               border-radius: 1rem;
               font-size: 1.2vw;
               
           }
           



        }
        .autoplay{
            color: white;
            display: inline;
            i{
                font-size: 1.5rem;
                margin-top: 3px;
            }
            .subtitle{
                display: inline;
                word-spacing: 2px;
            }

        }
    }
.table_div{
    margin-top: 0.8rem;
  
    height: 100%;
    color: white;
    .table{
        background-color: rgba(0, 0, 0, 0.822);
        text-align: center;
        color: rgb(255, 238, 0);
      thead{
          background-color: rgb(151, 8, 8);
      }
        
        th{
            text-align: center;
            font-size: 1.6rem;
        }
        tbody{
            font-size: 1.6rem;
            font-family: "Noto Sans";
            font-weight: bold;
            letter-spacing: 0.3rem;
        }
    }
}
.other{
    @include center;
    ul{
        text-align: center;
        margin-top: 1.5rem;
        list-style-type: none;
        font-size: 1.5vw;
        font-family: Merriweather;
        color: #2ed70d;
        li{
            background-color: rgba(22, 17, 17, 0.726);
            border-radius: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        a{
            color: #2ed70d;
        }
    }
}
.location_div{
    width: fit-content;
    background-color: black;
    @include center;
    text-align: center;
    height: 3rem;
    border: 1px solid;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
    h4{
        padding: 0 2rem 1rem 2rem;
        font-size: 1.5rem;
        color: white;
    }
}

}
footer{
    position:relative;
    bottom:0;
    width: calc(100%);
    padding: 15px;
    color: white;
    background: rgb(186,0,0);
background: linear-gradient(180deg, rgba(186,0,0,1) 3%, rgba(52,1,1,1) 28%, rgba(0,0,0,1) 69%);
    .text{
        width: 95%;
        font-family: Merriweather;
        marquee{
        font-size: 3vw;
    }

    }
    
}
// .loading{
    
// }
/*
PEN BY: @AliRanjbar
Site: www.aliranjbar.ir
pen lang: html, css, js(jquery)
*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(240, 17, 10);
  z-index: 99;
}
.loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid #f2f2f2;
  border-top: 6px dotted #f2f2f2;
  border-bottom: 6px dotted #f2f2f2;
  border-radius: 50%;
  animation: loading 2s infinite;
}
.loading:before {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  content: "Loading...";
  position: absolute;
  top: 57%;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}


#AliRanjbar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 13px;
  color: #444;
  font-family: 'Acme', sans-serif;
  z-index: 99;
}

@media (min-width: 1500px){
    
   
   
    body{
        width:100% !important;
        margin:0 !important;
        padding:0 !important;
        background-image: url(../images/Sunset_mosque.jpg) !important;
        height: 100%;

  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
        
        
    }
header{
    height: fit-content;
    width: 100% !important;
    .container{
        margin: 0% !important;
        width: 100% !important;
    }
    #time{
        font-weight: 7vw !important;
    }
    .dates{
        h4{
            font-size: 2vw;
        }
        h5{
            font-size: 1.5vw;
        }
    }
}
#sec-11e4{
    min-height: fit-content;
    .nav{
        .area{
            a{
                font-size: 1.8vw;
            }
            i{
                font-size: 2.6vw;
            }
            #select{
                font-size: 1.6vw !important;
                width: 15vw;
                padding: 1rem;
            }
        }
        .autoplay{
            i{
                font-size: 2.6vw;
            }
            #autoplayText{
                font-size: 1.7vw;
            }
        }
        
    }
    .other{
        ul{
            margin-top: calc(1vh + 1vw) !important;
            line-height: 3vw;
        }
    }
    .container{
       
        width: 100% !important;
    }

    .row{
       
        width: 100% !important;
        #compassDiv{
            h5{
                font-size: 1.5vw !important;
            }
        }
    }
    .table{
        width: 100%;
        th{
            font-size: 2vw !important;
        }
        td{
            font-size: 2.3vw !important;
            padding-left: 1vw !important;
        }
    }
    .location_div{
        width: fit-content;
        height: fit-content;
        margin-top: calc(1vh + 1vw);
        h4{
            font-size: calc(1.5vw + 1vh)!important;
    
        }
    }
}
footer{
    bottom: 2vw;
    
   
}


}
@media (max-width: 996px) {
    select{
        font-size: 1rem !important;
        width: 9rem !important;
    }
    .other{
        ul{
            font-size: 1.2rem !important;
        }
    }
    .location_div{
        margin-top: 1rem !important;
    }
    footer{
        margin-top: 1rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: fit-content;
    }
    
}
@media (max-width: 575px){
    #sec-11e4{
        select{
            font-size: 1rem !important;
            width: 9rem !important;
        }
        .other{
            ul{
                font-size: 1rem !important;
            }
        }
        .table{
            td{
                font-size:  1.2rem;
            }
            th{
                font-size: 1.3rem !important;
            }
        }
        .location_div{
            margin-top: 1rem;
        }
    }
    footer{
        position: relative;
    }

}

