@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

header{
    color: rgb(255, 255, 255) !important;
    height: 12rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9500175070028011) 14%, rgba(186,0,0,1) 53%, rgba(0,0,0,0.9444152661064426) 86%);
   .container{
       margin-top: 0% !important;
       .row{
           #time{
               font-size: 11vw;
               font-weight: bold;
               font-family: Bahnschrift;
               text-align: center;
           }
           .dates{
               margin-top: 2rem;
               text-align: center;
           }
       }
   }
}
body{
    position: relative;
    background: url(../images/Sunset_mosque.jpg) !important;
    background-repeat: no-repeat;
    
   height: 100%;
   max-width: 100%;
   overflow-x: hidden;
   box-sizing: border-box;
   object-fit: cover;
   
  
 
    
}
#sec-11e4{
    background-image: url(../images/Sunset_mosque.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center center fixed;
    background-size: cover;
    

    .nav{
        margin-top: 0.5rem !important;
        height: 100%;
        text-align: center;
        word-spacing: 1rem;
        width: fit-content;
        padding-bottom: 0.8rem;
       
        @include center;
        border: 0.12em solid rgba(245, 245, 245, 0.493) ;
        background-color: rgba(0, 0, 0, 0.602);
        border-radius: 0.8rem;
        .area{
           font-size: 0.9rem;
           a{
               color: azure;
               cursor: pointer;
               padding: 0 1rem 0 1rem;
               vertical-align: middle;
           }
           i{
            padding: 0 1rem 0 1rem;
            cursor: pointer;
            vertical-align: middle;
            color: aliceblue;
           }
           



        }
    }
.table_div{
    margin-top: 1rem;
    height: 100%;
    margin-bottom: 1rem;
    color: white;
    .table{
        background-color: rgba(0, 0, 0, 0.822);
        text-align: center;
        color: rgb(255, 238, 0);
      
        
        th{
            text-align: center;
            font-size: 1.4rem;
        }
        tbody{
            font-size: 1.8rem;
            font-family: "Noto Sans";
            font-weight: bold;
        }
    }
}
.location_div{
    width: fit-content;
    background-color: black;
    @include center;
    text-align: center;
    height: 3rem;
    border: 1px solid;
    border-radius: 1rem;
    margin-bottom: 1rem;
    h4{
        padding: 0 2rem 1rem 2rem;
        font-size: 1.5rem;
        color: white;
    }
}

}
footer{
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    width: 100%;
  
    color: white;
    background: rgb(186,0,0);
background: linear-gradient(180deg, rgba(186,0,0,1) 3%, rgba(52,1,1,1) 28%, rgba(0,0,0,1) 69%);
    .text{
        width: 95%;
        font-family: Merriweather;
        marquee{
        font-size: 2.5rem;
    }

    }
    
}

@media (min-width: 1500px){
header{
    height: fit-content;
    .container{
        margin: 0% !important;
        width: 100% !important;
    }
    #time{
        font-weight: 7vw !important;
    }
    .dates{
        h4{
            font-size: 2vw;
        }
        h5{
            font-size: 1.5vw;
        }
    }
}
#sec-11e4{
    .nav{
        .area{
            a{
                font-size: 1.5vw;
            }
            i{
                font-size: 1vw;
            }
        }
    }
    .container{
        margin: 5% !important;
        width: 100% !important;
    }

    .row{
        width: 100% !important;
        #compassDiv{
            h5{
                font-size: 1.5vw !important;
            }
        }
    }
    .table{
        width: 100%;
        th{
            font-size: 2vw !important;
        }
        td{
            font-size: 1.8vw !important;
            padding-left: 1vw !important;
        }
    }
    .location_div{
        width: fit-content;
        h4{
            font-size: 2vw !important;
    
        }
    }
}


}

