/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-image: url("../images/modalBG.jpg");
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.modal-content h3 {
    color: rgb(255, 230, 7);
    font-family: Futara;
    background-color: rgba(0, 0, 0, 0.602);
    padding: 1rem;
    font-size: 1.5rem;
}

.select {
    color: aliceblue;
    background-color: rgba(3, 3, 3, 0.815);
    padding: 10px;
    font-size: 1rem;
    font-family: Segoe UI;
    font-size: 1.2rem;
}
input{
    width: 1.3rem;
    height: 1.3rem;
    padding: 1rem;
    background-color: red;
}

label {
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;


}

.location {
    background-color: rgba(245, 245, 220, 0.685);
    height: 200px;
    width: 80%;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(31, 32, 34, 0.664) 0px 10px 20px, rgba(19, 20, 22, 0.472) 0px 6px 6px;
}

.mosque {
    background-color: rgba(245, 245, 220, 0.685);
    height: 200px;
    width: 80%;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(31, 32, 34, 0.664) 0px 10px 20px, rgba(19, 20, 22, 0.472) 0px 6px 6px;

}

#country {
    margin-top: 5%;
    width: 12rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(15, 15, 13, 0.787);
    box-shadow: rgba(0, 0, 0, 0.294) 0px 5px 15px;
    border-width: 0ch;
    padding: 10px;
    color: white;

}
#countryM {
    margin-top: 5%;
    width: 12rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(15, 15, 13, 0.787);
    box-shadow: rgba(0, 0, 0, 0.294) 0px 5px 15px;
    border-width: 0ch;
    padding: 10px;
    color: white;

}

#city {
    margin-top: 5%;
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(16, 17, 14, 0.787);
    box-shadow: rgba(0, 0, 0, 0.294) 0px 5px 15px;
    border-width: 0ch;
    padding: 10px;
    color: white;


}
#mosque{
    margin-top: 1%;
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgba(15, 15, 13, 0.787);
    box-shadow: rgba(0, 0, 0, 0.294) 0px 5px 15px;
    border-width: 0ch;
    padding: 10px;
    color: white;
}

.loc-sub-button {
    margin-top: 10px;
    width: 8rem;
    height: 2.3rem;
    border-radius: 5px;
    border-width: 0ch;
    box-shadow: rgba(0, 0, 0, 0.294) 0px 5px 15px;
   
    color: rgb(2, 1, 1);
    position: relative;	
	font-size: 1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}
.loc-sub-button:hover{
    color:wheat ;
	transition-delay: .2s;
    background-color: rgb(20, 17, 17);
    
}
.loc-sub-button:hover:before{
    transition-delay: 0s;

}
.loc-sub-button:hover:after{
    background: rgb(30, 21, 70);
	transition-delay: .35s;

}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1400px) {
    
    .modal-content{
        margin-top:15%;
        height: fit-content !important;
    }
    h3{
        font-size: 2.5vw !important;
    }
    .select{
        font-size: 2.5vw !important;
    }
   #locationDiv select{
        font-size: 2.3vw !important;
        margin-left: 1vw !important;
    }
  #country ,#city{
        height: fit-content !important;
      
        padding: 1rem;
       
    }
    #country{
        width: 12vw  !important;
    }
    #city{
        width: 18vw  !important;

    }
    input{
        width: 2.5vw!important; 
        height: 2.5vw!important; 
    }
   #loc-sub-button,#mosque-sub-btn{
       height: fit-content;
       width: fit-content;
       font-size: 2vw !important;
       margin-bottom: 2rem !important;
       padding: 1rem;
       border-radius: 1rem;

   }
   #locationDiv{
       height: fit-content  !important;
   }
   #mosqueDiv select{
    font-size: 2.3vw !important;
    margin-left: 1vw !important;

   }
   #countryM ,#mosque{
    height: fit-content !important;
    padding: 1rem;
}
#countryM{
    width: fit-content  !important;

}
#mosque{
    width: fit-content !important;
}
#mosqueDiv{
    height: fit-content !important;
}
    
    

}

@media (max-width: 991px) {
    .modal-content{
        margin-top:25%;
    }
    .location, .mosque{
        width: 95%;
    }
    #mosque{
        margin-top: 15px;
        width: 88%;
    }
    .modal-content{
        height: 450px;
    }

}

@media (max-width: 767px) {
    #city {
      
        width: 15rem;
      
    
    
    }
    .select{
        width: 95%;
        margin-left: 50%;
        margin-right: 50%;
        margin: auto;
    }
   
    .location, .mosque{
        width: 95%;
    }
    .select{
        width: 84%;
        margin-left: 50%;
        margin-right: 50%;
        margin: auto;
    }
    #mosque{
        margin-top: 10px;
        width: 88%;
    }
    .modal-content{
        height: fit-content;
    }
    

}
@media (max-width: 534px){
    .select{
        width: 97%;
        font-size: 0.9rem;
    }
    input{
        width: 1rem;
    height: 1rem;
    }
    #city{
        width: 14rem;
    }
    .modal-content{
        height: fit-content;
    }

}

