#headerSection{
    background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.9500175070028011) 14%, rgba(186,0,0,1) 53%, rgba(0,0,0,0.9444152661064426) 86%);
   }




h4,h5,p{
  color: white;
}
th{
  background-color: rgb(158, 7, 7);
}
img{
  width: 100%;
  max-height: 360px;
  min-height: 360px;
  box-shadow:  0px 0px 5px 5px rgba(83, 5, 5, 0.657);
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
 
}
.imgbox{
  width:100%;
  height: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main{
  cursor: pointer;
  color: white;
  
}
#hijriDate{
  color: white;
}
#dateBottom{
  color: white;
}
#main:hover{
  color: rgb(147, 250, 28);
}
#playButton{
  font-size: 2.5rem;
  
  border-radius: 50%;
}
