
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Anton');
html, body {
    overflow-x: hidden;
  }
  

body{
    position: relative;
    background: url(../images/Sunset_mosque.jpg) !important;
    
   height: 100%;
   max-width: 100%;
   overflow-x: hidden;
   box-sizing: border-box;
   object-fit: cover;
    
}

header{
    color: rgb(255, 255, 255) !important;
    height: 10rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9500175070028011) 14%, rgba(186,0,0,1) 53%, rgba(0,0,0,0.9444152661064426) 86%);
   
    
    .row{
        margin-left: -3rem;
        margin-right: -4rem;
        padding: 0% !important;
        text-align: center;
        .main{
            margin-top: 50%;
           
        }
        #time{
            text-align: center;
            font-size: calc(9vw);
            font-family: Impact;
            letter-spacing: 0.3rem;
            
           
            
        }
        .dates{
            margin-top: 20%;
            h4{
                font-size: 1.3rem;
            }
            h5{
                font-size: 1.2rem;
            }
        }
        .third{
            
        }
      
        
    }

}
#sec-11e4{
    background-image: url(../images/Sunset_mosque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center fixed;
    width: 100%;
    height: 100%;
    min-height: 511px;
   
    .table_div{
        .row{
            .table-responsive{
                margin-top: 0.5rem;
                height: 100%;
                
                table{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.89);
                    color: rgb(255, 238, 4);
                    th{
                        text-align: center;
                        font-size: 1.5rem;
                    }
                    td{
                        font-size: 1.5rem;
                        font-weight: bold;
                        font-family: Noto Sans;
                    }
                
                }
            }

            
            
        }
    }
    .location_div{
        text-align: center;
        width: fit-content;
        margin-left: 50%;
        margin-right: 50%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.911);
        border-radius: 1rem;
        border: 1px solid;
        h4{
            padding: 0rem 4rem 0rem 4rem;
            font-size: 1.5rem;
            color: white;
        }
    }
}
footer{
    position:relative;
    
    bottom:0;
    width: calc(100%);
    padding: 20px;
    color: white;
    background: rgb(186,0,0);
background: linear-gradient(180deg, rgba(186,0,0,1) 3%, rgba(52,1,1,1) 28%, rgba(0,0,0,1) 69%);
    .text{
        width: 95%;
        font-family: Merriweather;
        marquee{
        font-size: 2.5rem;
    }

    }
    
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    body{
        height: 100% !important;
       
    }
    header{
        height: fit-content;
        width: 100% !important;
        #main{
            font-size: 2vw !important;
        }
        .dates{
            padding-right: 7rem;
            h4{
                font-size: 2vw !important;
            }
            h5{
                font-size: 1.5vw !important;
            }
            

        }
    }
    .container{
        width: 100% !important;
        .row{
            .main{
                margin-top: 1rem;
               
            }
            .dates{
                margin-top: 2rem;
            }
        
        }
    }
    #sec-11e4{
       min-height: 70vh;
        
        td,th{
            font-size: 2vw !important;
        }

        .row{
            img{
                width: 100%;
    max-height: 25vw;
    min-height: 25vw;
            }
        }
        .location_div{
            #location{
                font-size: 2vw !important;
            }
        }
    }
    footer{
        #marquee{
            font-size: 3vw
        }
    }
   
   
   
}

@media (min-width: 250px) and (max-width: 374px){
    body{
        width: 100%;
    }
    header{
        height: fit-content;
        width: 100%;
        .row{
            margin-top: -45%;
            #time{
                font-size: 3.5rem !important;
            }
            .third{
                margin-top: -14%;
            }
        }
    }
    td{
        font-size: 0.7rem !important;
    }
    th{
        font-size: 0.9rem !important;
    }
    footer{
        #marquee{
            font-size: 1.5rem;
        }
    }
    #location{
        font-size: 1rem !important;
    }
    
}
@media (min-width: 374px) and (max-width: 600px){
    body{
        width: 100%;
    }
    header{
        height: fit-content;
        width: 100%;

        .row{
             #time{
                font-size: 4rem !important;
            }
            margin-top: -45%;
            .third{
                margin-top: -14%;
            }
        }
    }
    td{
        font-size: 1rem !important;
    }
    th{
        font-size: 1rem !important;
    }
    footer{
        #marquee{
            font-size: 1.5rem;
        }
    }
    #location{
        font-size: 1rem !important;
        
    }
    
}
@media (min-width: 600px) and (max-width: 750px){
    header{
        height: fit-content;
        .row{
            margin-top: -53%;

            .third{
                margin-top: -19%;
            }
        }
    }

}
@media (min-width: 750px) and (max-width: 945px){

header{
    height: 10rem;
    #time{
        font-size: 5.4rem !important;
    }
    .dates{
        h4{
            font-size: 1rem !important;
        }
        h5{
            font-size: 0.8rem !important;
        }
    }
}
    #sec-11e4{
    height: 100vh;
}
footer{
    
    bottom: 0;
    width: 100%;
}


}

@media (min-width: 946px) and (max-width: 1000px){
    header{
        
        .row{
            margin-left: -5rem;
            margin-right: -5rem;
        }
    }
    #sec-11e4{
         table{
             td{
                 font-size: 1.2rem !important;
             }
         }
    }

}
@media (min-width: 946px) and (max-width: 1200px){
    
    #sec-11e4{
        min-height: 600px;
         table{
             td{
                 font-size: 1.2rem !important;
             }
         }
    }
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    

}
@media (min-width: 1200px) and (max-width: 1400px){
  
    footer{
       
        bottom: 0px;
    }
}













